<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

    <title>dnd char sheet</title>
</head>

<body>
    <div class="container">
        <div class="row border">
            <div class="col d-flex align-items-center">
                <form>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" id="charName" name="chararcterName" placeholder="">
                            <h6>Character name</h6>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="container row pt-3">
                    <form>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" id="classLvl" name="class&lvl" class="form-control" placeholder="">
                                <h6>Class & level</h6>
                            </div>
                            <div class="col">
                                <input type="text" id="background" name="background" class="form-control"
                                    placeholder="">
                                <h6>Background</h6>
                            </div>
                            <div class="col">
                                <input type="text" id="playerName" name="playerName" class="form-control"
                                    placeholder="">
                                <h6>Player name</h6>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" id="race" name="race" class="form-control" placeholder="">
                                <h6>Race</h6>
                            </div>
                            <div class="col">
                                <input type="text" id="alignment" name="alignment" class="form-control" placeholder="">
                                <h6>Alignment</h6>
                            </div>
                            <div class="col">
                                <input type="text" id="expPoints" name="expPoints" class="form-control" placeholder="">
                                <h6>Experience points</h6>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row container">
                <div class="col-sm-1">
                    <form name="abilityScores">
                        <div class="form-row">
                            <div class="col mb-2">
                                <label>Strength</label>
                                <input type="text" id="str" name="strScore" class="form-control text-center"
                                    placeholder="">
                                <input name="strMod" class="w-75 form-control form-control-sm mx-auto text-center"
                                    type="text">
                            </div>
                            <div class="col mb-2">
                                <label>Dexterity</label>
                                <input type="text" id="dex" name="dexScore" class="form-control text-center"
                                    placeholder="">
                                <input name="dexMod" class="w-75 form-control form-control-sm mx-auto text-center"
                                    type="text">
                            </div>
                            <div class="col mb-2">
                                <label>Constitution</label>
                                <input type="text" id="con" name="conScore" class="form-control text-center"
                                    placeholder="">
                                <input name="conMod" class="w-75 form-control form-control-sm mx-auto text-center"
                                    type="text">
                            </div>
                            <div class="col mb-2">
                                <label>Intelligence</label>
                                <input type="text" id="int" name="intScore" class="form-control text-center"
                                    placeholder="">
                                <input name="intMod" class="w-75 form-control form-control-sm mx-auto text-center"
                                    type="text">
                            </div>
                            <div class="col mb-2">
                                <label>Wisdom</label>
                                <input type="text" id="wis" name="wisScore" class="form-control text-center"
                                    placeholder="">
                                <input name="wisMod" class="w-75 form-control form-control-sm mx-auto text-center"
                                    type="text">
                            </div>
                            <div class="col mb-2">
                                <label>Charisma</label>
                                <input type="text" id="cha" name="chaScore" class="form-control text-center"
                                    placeholder="">
                                <input name="chaMod" class="w-75 form-control form-control-sm mx-auto text-center"
                                    type="text">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2">
                    <div class="form-row">
                        <div class="col mb-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="inspCheck">
                                <label class="form-check-label " for="inspirationCheck">
                                    Inspiration
                                </label>
                            </div>
                            <!-- <div class="form-check">
                                <div class="inut-group"></div>
                               
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-dark" id="save">save</button>
                    <button class="btn btn-dark" id="load">load</button>
                    <button class="btn btn-dark" id="clear">clear</button>
                    <button class="btn btn-dark" id="json">json</button>
                    <button class="btn btn-dark" id="calc">calc</button>
                </div>
            </div>
        </div>


    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/script.js"></script>
</body>

</html>